@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark theme (default) */
:root {
  --background-color: #000000; /* Dark background */
  --text-color: #ffffff; /* Light text */
  --background-image: url('../../public/assets/images/erosnowbg.webp');
}

/* Light theme */
.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --background-image: none;
}

/* Apply the theme variables */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image); /* Apply background image */
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s,
    background-image 0.3s;
}
.btn-gradient {
  background: linear-gradient(to right, #0ca1ea 50%, #3ec5b6 50%);
}
.bg-gradient-custom-gradient {
  background: linear-gradient(90deg, #0ca1ea, #3ec5b6);
}
.bg-polygon-gradient {
  background: linear-gradient(90deg, #10a3e7, #3ec4b9);
}

:root {
  --gradient-border: 1px solid transparent;
  --gradient-border-image: conic-gradient(
      from 180deg at 51.95% 49.81%,
      rgba(0, 0, 0, 0.105455) -2.11deg,
      rgba(51, 66, 255, 0) 131.45deg,
      #37f4f4 175.58deg,
      rgba(51, 66, 255, 0) 252.32deg,
      rgba(0, 0, 0, 0.0885149) 310.85deg,
      rgba(0, 0, 0, 0.105455) 357.89deg,
      rgba(51, 66, 255, 0) 491.45deg
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
}

.gradient-border {
  border: var(--gradient-border);
  border-image: var(--gradient-border-image);
  border-image-slice: 1;
}

.border-image-gradient {
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #13a6e3 0%, #3bc2ba 100%);
  border-image-slice: 1;
}
@layer utilities {
  .border-gradient {
    border-image-source: linear-gradient(180deg, #13a6e3 0%, #3bc2ba 100%);
  }
}
/* Buttons */
.uppy-u-reset.uppy-c-btn.uppy-StatusBar-actionBtn.uppy-StatusBar-actionBtn--upload.uppy-c-btn-primary {
  padding: 0.5rem 1rem !important; /* px-4 py-2 */
  background: linear-gradient(
    90deg,
    #0ca1ea,
    #3ec5b6
  ) !important; /* Gradient */
  border: 1px solid #56e5f6 !important; /* Updated border color */
  border-radius: 0.5rem !important; /* rounded-lg */
  width: 13rem !important; /* w-52 */
  height: 3rem !important; /* h-12 */
  color: #fff !important; /* Adjust text color */
  text-align: center;
}

.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse {
  color: #0075ff !important;
}

/* Dashboard */
.uppy-Dashboard-innerWrap,
.uppy-DashboardContent-bar,
.uppy-Webcam-footer,
.uppy-StatusBar-actions {
  background-color: #434e80 !important;
}

.uppy-Dashboard-AddFiles-title,
.uppy-DashboardTab-name,
.uppy-DashboardContent-back,
.uppy-DashboardContent-save,
.uppy-Dashboard-note,
.uppy-DashboardContent-title {
  color: #ffffff !important;
}

.uppy-Dashboard-Item {
  background-color: #ffffff !important;
  padding: 8px !important;
}

.uppy-u-reset.uppy-Dashboard-Item-action.uppy-Dashboard-Item-action--remove {
  top: 0px !important;
  right: 5px !important;
}

/* Webcam */
.uppy-Webcam-footer {
  display: flex !important; /* Ensures the child elements are aligned */
  justify-content: center !important; /* Centers content horizontally */
  align-items: center !important; /* Centers content vertically */
  text-align: center !important; /* Optional for centering text */
}

.uppy-Webcam-videoSourceContainer,
.uppy-Webcam-recordingLength {
  display: none !important;
}

/* StatusBar */
.uppy-StatusBar-actions {
  justify-content: end;
}
.uppy-Dashboard-inner {
  border-style: none !important;
}
.uppy-DashboardTab {
}
.hidden {
  display: none !important;
}
.success-message {
  @apply text-sm text-green-500;
}

.error-message {
  @apply text-sm text-red-500;
}

.success-message {
  @apply text-sm text-green-500;
}
.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgba(67, 24, 255, 1);
  border-color: rgba(67, 24, 255, 1) transparent rgba(67, 24, 255, 1)
    transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
